/***** STYLE SHEET FOR 1080px WIDTH AND LARGER *****/

/*** DEVELOPMENT ONLY ***/
.page-body,
#page-contact,
#home-page-container,
#page-projects {
	background-image: url("../images/grid-1280x15-.jpg");
	background-image: url("../images/bg-980px-grid-.png");
	background-position: center;
	background-repeat: repeat-y;
}
/*** END DEVELOPMENT ONLY ***/

/*** GLOBAL ***/
.max1260px {
	max-width:1260px;
	margin:auto;	
}

.project_details_img_large {
	display:none;	
}

.project_details_img_small {
	display:block;	
}

.projectDetails1080 {
   & .project_details_p { 
		font-size:1em;
	}
}

.project_details_recreate,
.project_details_nan,
.project_details_mark,
.project_details_trombone,
.project_details_major_exploration,
.project_details_homeconnect,
.project_details_giddy_throng,
.project_details_earthship_seattle,
.project_details_joemicheals {
	.projectDetails1080;
}

#page-nan #nav-sub-nan,
#page-mark #nav-sub-mark,
#page-reCreate #nav-sub-recreate,
#page-trombone #nav-sub-trombone,
#page-major-exploration #nav-sub-major-exploration,
#page-homeconnect #nav-sub-homeconnect,
#page-giddy-throng #nav-sub-giddy-throng,
#page-earthship-seattle #nav-sub-earthship-seattle,
#page-joemicheals #nav-sub-joemicheals {
	font-size: 1.3em;
	line-height:1.4em;
}
/*** END GLOBAL ***/

/*** HOME PAGE ***/
.home-page-container {
	margin-bottom:75px;	
}

.header-main {	
	margin-bottom:75px;
}

.contact-icons {
	float:right;
	width:130px;
}

i.icon-github,
i.icon-linkedin {
	font-size:60px;
}

.header-main p {	
	font-size:3em;
}
/*** END HOME PAGE ***/

header#reCreate .max1260px {
	background-color: #C9D5DB;	
}

#header-joemicheals h1 {
   font-size: 2.5em;
   width:820px;
   position: relative;
   top:20px;
   margin-left: 0;
}

/*** UX PROJECTS PAGE ***/
/* CIRCLE MIXINS */
.circleMixin-210px {
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	width:210px;
	height:210px;
	background-color:white;
	overflow:hidden;
}
/* END CIRCLE MIXINS */

/* FUNCTIONS */
.stroke(@outline-width : 3px, @outline-style : solid, @color : black) {
	-moz-border:  @outline-width @outline-style @color;
	-webkit-border:  @outline-width @outline-style @color;
	-ms-border:  @outline-width @outline-style @color;
	border: @outline-width @outline-style @color;
	overflow:hidden;
}
/* END FUNCTIONS */

/* CIRCLE BEHAVIORS */
.mobile-rectangle,
.greyscale-circle-70,
.color-circle-70,
.greyscale-circle-140,
.color-circle-140 {
	display:none;
}

.greyscale-circle {
	position:absolute;
	top:0;
	z-index:2;
	opacity:1;
	overflow:hidden;
	display:block;
	
	-moz-transition:opacity 500ms ease-out 10ms;
	-webkit-transition:opacity 500ms ease-out 10ms;
	transition:opacity 500ms ease-out 10ms;
	
	.project:hover & {
		opacity:0;
		overflow:hidden;
	}
}

.color-circle {
	position:absolute;
	z-index:1;
	top:0;
	display:block;
	overflow:hidden;
}
/* END CIRCLE BEHAVIORS */

/* EACH PROJECT CIRCLE - POSITION & IMAGES */
#artist {
	.circleMixin-210px;
	.stroke(3px, solid, #000);
	
	& h2.cover {
		font-size: 1.7em;
		margin-left: 25%;
		margin-top: 111px;	
	}
}

#re-create {
	.circleMixin-210px;
	.stroke(3px, solid, #000);
	
	& h2.cover {
		margin-left:101px;
		margin-top:50px;
		font-size:20px;	
		width:110px;
		overflow:hidden;
	}
}

#mark {
	.circleMixin-210px;
	.stroke(3px, solid, #000);
	
	& h2.cover {
		font-size: 1.7em;
		margin-left: 20%;
		margin-top: 86px;
		letter-spacing: 4px;
	}	
}

#trombone {
	.circleMixin-210px;
	.stroke(3px, solid, #000);
	
	& h2.cover {
		font-size: 1.3em;
		margin-left: 5%;
	}	
}

#home-connect {
	.circleMixin-210px;
	.stroke(3px, solid, #000);
	
	& h2.cover {
		font-size:23px;
		margin-left:10%;
		margin-top:85px;
	}	
}

#major-exploration {
	.circleMixin-210px;
	.stroke(3px, solid, #000);	
	
	& h2.cover {
		font-size:18px;
		margin-left:12.5%;
		margin-top:90px;
	}
}
		
#giddy-throng {
	.circleMixin-210px;
	.stroke(3px, solid, #000);	
}
			
#earthship-seattle {
	.circleMixin-210px;
	.stroke(3px, solid, #000);
	
	& h2.cover {
		font-size:26px;
		margin-left:4px;
		margin-top:30%;
	}		
}
				
#vo {
	.circleMixin-210px;
	.stroke(3px, solid, #000);		
}
/* END EACH PROJECT CIRCLE - POSITION & IMAGES */
/*** END UX PROJECTS PAGE ***/
