/***** STYLE SHEET FOR WIDTHS 480px - 767px *****/

/*** GLOBAL SELECTORS ***/
ul {
	padding-left: 1.25em;
}

h2 {
	margin-bottom:.5em;
}

.section-label {
	font-size: 2em;	
}

#page-contact .section-label,
#page-thankyou .section-label {
	margin-top: 40px;
	margin-bottom: 40px;	
}
/*** END GLOBAL SELECTORS ***/

/*** VARIABLES ***/
/* for developing placement of circles */
@divColor:rgba(255,255,255,.4);
/*** END VARIABLES ***/

/*** MIXINS ***/
.allCirclesMixin {
	.circleMixin-140px;
 	.stroke(2px, solid, #000);
	
	a {
		display:block;
		width:100%;
		height:100%;	
	}
	
	&:hover .cover {
		opacity:1;
		overflow:hidden;
	}
	
}

.circleMixin-140px {
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	width:140px;
	height:140px;
	background-color:white;
	overflow:hidden;
}

.projectDetailsTablet {
	& h1 {
		padding-bottom:25px;
	}
	
	& img {
	   display:block;
	}
	 /* each paragraph */
	& p {
		margin-bottom:.4em;
		float:left;
		padding:0 2% 2% 0%;	
		overflow:hidden;
	}
	/* all paragraphs as a group in project_details */
	& .project_details_p { 
		width:percentage(220/700);
		float:left;		
		padding-top:0;
		padding-bottom:0;
		padding-left:0;
		font-size:.65em;
		overflow:hidden;
	}
	
	& .project_details_p ul {
		clear:both;	
		padding-left:1.375em;
	}
	
	& .pdf-link {
		margin-top:2em;	
	}
	/* div contining the image */
	& .project_details_img {
		float:right;
		width:percentage(460/700);
		overflow:hidden;
		border:2px solid grey;
		margin-right:percentage(10/700);
		text-align:center;
		alignment-baseline:baseline;
	}
}

.content-area {
	width:percentage(700/940);
	float:right;	
}

.verticalMenuMixin-White {
	width:23.40425532%; /* 220/940 */
	float:left;	
	color:#000;
	background-color:#FFF;
	font-size: .9em;
	line-height: 1.5; /* 24px / 16 px */
	
	&  ul {
		padding: 0;	/* overrides our global ul padding */
		list-style-type: none
	}
	
	& li {
		font-size: 0.875em;	/* 14px / 16px */
		padding: 0;	 /* overrides our global li padding */	
	}
	
	& li a {
		text-decoration: none;
		display: block; /* fill the list item */
		padding: .875em .875em .875em .75em; /* 14px / 16px   12px / 16px  */
		color:#A9A9A9;
		text-decoration:none;
	}
	
	& li a:hover {
		color: #000;
		text-decoration:underline;	
	}
	
	& li a:focus {
		color: #000;
		text-decoration:underline;	
	}
	
	& li a:active {
		text-decoration:none;
		text-decoration:underline;
		color: #000;	
	}
	
	& ul li ul {
		padding-top: 0.25em; /* creaters vertical space for sub list */
		margin-bottom: 0; /* zeros out for bottom of the list */
		padding: 0;	/* overrides our global ul padding */
		margin-left:0;	
	}
	
	& ul li ul li a:link {
		padding-left:.5em;	
		color:#000;
	}
	
	& ul li ul li a:visited {
		padding-left:.5em;	
		color:#000;
	}
	
	& ul li ul li a:hover {
		background-color:#FFF;
		color:#000;	
	}
	
	& ul li ul li a:focus {
		background-color:#FFF;
		color:#000;
	}
	
	& ul li ul li {
		margin-left:.5em;
		list-style-type:none;	
	}
	
	/* & li .selected-item { */
	
	/*** ACTIVE STATE ***/
	& .selected-item { 
	  color: #333;
          text-decoration: underline;
	}
}
/*** END MIXINS ***/

/* FUNCTIONS  outline-color, outline-style, outline-width. */
.stroke(@outline-width : 2px, @outline-style : solid, @color : black) {
	-moz-border:  @outline-width @outline-style @color;
	-webkit-border:  @outline-width @outline-style @color;
	-ms-border:  @outline-width @outline-style @color;
	border: @outline-width @outline-style @color;
	overflow:hidden;
}
/* END FUNCTIONS */

/*** HOME PAGE ***/
.header-main {
	padding:0 10px;
}

.header-main p {
	color:#FFF;
	width:300px;	
	display:inline;
	font-size:2.5em;
	position:relative;
	line-height:100px;
}

.home-page-text h2 {
	font-size:1.75em;
	margin-top:.75em;
	margin-bottom:.4em;	
}

/*** CONTACT ICONS ***/
.contact-icons {
	float:right;
	max-width: none;
	width: 100px;
	position: relative; /* position relative to normal position */
	top:20px;
}

i.icon-github {
	/*width:42.85714286%;*/ /* 60/140px */
	float:left;
	font-size:45px;	
}

i.icon-linkedin {
	/*width:42.85714286%;*/ /* 60/140px */
	float:right;
	font-size:45px;	
}
/*** END CONTACT ICONS ***/

/*** ONE-PAGE NAV MAIN CONTROLS ***/
.page {
	/*position:absolute;*/
	/*width:100%;*/
	/*height:100%;*/
	/*top:0;*/
	/*left:0;	*/
}

/* Thomas - makes pages stack instead of height: 100% */
.page {
	position:relative;
	/*min-height:100%;*/
	/*margin-bottom: 3em;*/
	
	min-height: 100vh;
}

nav {
	position:fixed;
	z-index:100;
	width:100%;
	
	left:0;
	bottom:0;
	background:none;
	color:#FFF;
	visibility:visible;	
	
	padding-left:0;
	padding-right:0;
	
	display:block;

}

nav ul {
	list-style-type:none;
	width:460px;
	margin:auto;
	padding-bottom:35px;
	padding-left:0;
}

nav ul li {
	float: left;
	padding-top: 0;
	background-color:rgba(255,255,255,0.9);
	font-size:1.3em;  
}

li .scroll {
	border-bottom: none;
	color: #000;
}

nav a:link,
nav a:visited {
	text-decoration:none;
	color:black;
	border-bottom: none;
}

nav a:hover,
nav a:focus {
	text-decoration:underline;
	color:black;
}

nav li a {
	display:block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;	
	padding-bottom:2px;
}

/*nav a.selected {
	color:magenta;	
}*/
/*** END ONE-PAGE NAV MAIN CONTROLS ***/

/*** GLOBAL TABLET NAV ***/
/* SUB NAVIGATION */
#nav-sub-recreate,
#nav-sub-nan,
#nav-sub-mark,
#nav-sub-trombone,
#nav-sub-major-exploration,
#nav-sub-homeconnect,
#nav-sub-giddy-throng,
#nav-sub-earthship-seattle,
#nav-sub-joemicheals {
	display:block !important;	
}

#nav-collapse-recreate,
#nav-collapse-nan,
#nav-collapse-mark,
#nav-collapse-trombone,
#nav-collapse-major-exploration,
#nav-collapse-homeconnect,
#nav-collapse-giddy-throng,
#nav-collapse-earthship-seattle,
#nav-collapse-joemicheals {
	display:none;	
}
/* END SUB-NAVIGATION */
/*** END GLOBAL TABLET NAV ***/

/*** HOME PAGE ***/
#home-page-container {
	/*background:#FF1493;
	color:#FFF;*/
	top:0;	
	clear:both;
}

.header-main {
	height:100px;
	line-height:100px;
	margin-bottom:30px;	
}

.home-page-text {
	max-width:500px;
	margin:auto;
	/* padding:0 20px; */
	/* padding:0 20px 0 0; */
}
/*** END HOME PAGE ***/

/*** PROJECT PAGE - ALL CIRCLE ICONS ***/
/* THE PAGE ITSELF */
#page-projects {
	top:100%;
	height:100%;
	visibility:visible;
	margin:auto;	
}

/* CIRCLE BEHAVIORS */
.mobile-rectangle,
.greyscale-circle,
.color-circle {
	display:none;
}

.greyscale-circle-140 {
	position:absolute;
	top:0;
	z-index:2;
	opacity:1;
	overflow:hidden;
	display:block;	
	
	/* transition: 
	1. opacity is the transition property
	2. transition duration, the amount if time time to transition from 1 to zero
	3. ease-out is the transition timing function
	4. transition delay, amount of time before opacity is fully opaque, 
	   then amount of time before going from opaque to no opacity */
	
	-moz-transition:opacity 500ms ease-out 10ms;
	-webkit-transition:opacity 500ms ease-out 10ms;
	transition:opacity 500ms ease-out 10ms;
	
	.project:hover & { /* greyscale image disappears when hovering over the whole project */
		opacity: 0; 
		overflow: hidden;
	}
}

.color-circle-140 {
	position:absolute;
	z-index:1;
	top:0;
	display:block;
	overflow:hidden;
}

/* EACH PROJECT CIRCLE - POSITION & IMAGES */
.cover {
	opacity:0;
	margin-left:20px;
	margin-top:20px;
	position:absolute;
	z-index:3;
	
	-moz-transition:opacity 2s;
	-webkit-transition:opacity 2s;
	transition:opacity 2s;
	
	-moz-transition-delay: .5s;
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
	
	overflow:hidden;
}

h2.cover {
	font-size:24px;
}

#project1 {
	/*margin-right:-1.5%;	*/
	position:relative;
	/*background-color:@divColor;*/
}

#artist {
 .circleMixin-140px;
 .stroke(2px, solid, #000);
 float:right;
	a {
		display:block;
		width:100%;
		height:100%;
	}
	
	& h2.cover {
		color:#FFF;
		margin-left:42px;
		margin-top:73px;
		font-size:17px;	
	}
	
	&:hover .cover {
		opacity:1;
	}
	
}

#project2 {
	padding-left:percentage(140/940);
	z-index:40;
	position:absolute;
	top:10%;
	/*background-color:@divColor;*/
}

#re-create {
 .circleMixin-140px;
 .stroke(2px, solid, #000);
	a {
	  display:block;
	  width:100%;
	  height:100%;
	  overflow:hidden;
	}
	
	& h2.cover {
		color:#000;
		margin-left:67px;
		margin-top:33px;
		font-family: "Myriad Pro", "PT Sans", sans-serif;
		font-size:13px;	
		width:73px;
		overflow:hidden;
	}
	
	&:hover .cover {
		opacity:1;
		overflow:hidden;
	}
}

#project3 {
	padding-left:percentage(320/940);
	z-index:30;
	position:absolute;
	top:15%;
	/*background-color:@divColor;*/	
}

#mark {
 .circleMixin-140px;
 .stroke(2px, solid, #000);
	a {
		display:block;
		width:100%;
		height:100%;
		overflow:hidden;
	}
	
	& h2.cover {
		font-size:17px;
		margin-left:30px;
		margin-top:57px;
		color:#7ED9EF;
		font-family:"Gotham";
		letter-spacing:3px;
		overflow:hidden;
		display:block;
	}
	
	&:hover .cover {
		opacity:1;
		overflow:hidden;
	}
}

#project4 {
	clear:both;
	padding-left:percentage(610/940);
	position:absolute;
	top:35%;
	/*background-color:@divColor;*/
	z-index:10;
}

#trombone {
 .circleMixin-140px;
 .stroke(2px, solid, #000);
 float:right;
	a {
		display:block;
		width:100%;
		height:100%;	
	}
	
	/*& h2.cover {
		font-size:17px;
		margin-left:3px;
		margin-top:10px;
		color:#FFF;
		text-align:center;
	}*/
	
	& h2.cover {
		font-size:13px;
		margin-left:8%;
		margin-top:59px;
		color:#B5A642;
		text-align:center;
		font-family:"Trebuchet MS";
	}
	
	&:hover .cover {
		opacity:1;
		overflow:hidden;
	}
}

#project5 {
	clear:both;
	padding-left:percentage(45/940);
	position:absolute;
	top:52%;
	/*background-color:@divColor;*/
	z-index:95;	
}

#home-connect {
	.allCirclesMixin;
	.circleMixin-140px;
	/*background-color:#CEE9FC;*/
	
	& h2.cover {
		font-size:15px;
		margin-left:11%;
		margin-top:56px;
		color:#FFF;
		text-align:center;
		display:block;
	}	
}

#project6 {
	clear:both;
	padding-left:percentage(220/940);
	position:absolute;
	top:47%;
	/*background-color:@divColor;*/
	z-index:65;
}

#major-exploration {
 	.allCirclesMixin;
	.circleMixin-140px;
	
	& h2.cover {
		font-size:12px;
		margin-left:13%;
		margin-top:60px;
		color:red;
		text-align:center;
		display:block;
	}
}

#project7 {
	clear:both;
	padding-left:percentage(155/940);
	position:absolute;
	top:75%;
	z-index:90;
}

#giddy-throng {
	.allCirclesMixin;
	.circleMixin-140px;
	
 	& h2.cover {
		font-size:18px;
		margin-left:3px;
		margin-top:55px;
		color:red;
		text-align:center;
	}
}

#project8 {
	clear:both;
	padding-left:percentage(600/940);
	position:absolute;
	top:71%;
	/*background-color:@divColor;*/
	z-index:60;
}

#earthship-seattle {
	.allCirclesMixin;
	.circleMixin-140px;
	
 	& h2.cover {
		font-family:"PT Mono";
		font-size:18px;
		margin-left:0;
		margin-top:38px;
		color:#FFF;
		text-align:center;
		text-shadow: 0px 0px 5px #000;
	}
}

#project9 {
	clear:both;
	padding-left:percentage(740/940);
	position:absolute;
	top:65%;
	/*background-color:@divColor;*/
	z-index:50;
}

#vo {
	.allCirclesMixin;
	.circleMixin-140px;
	
 	& h2.cover {
		font-size:18px;
		margin-left:12%;
		margin-top:45px;
		color:#FFF;
		text-align:center;
		text-shadow: 0px 0px 5px #000;
		
	}
}

/*** ALL PAGES - GLOBAL STYLES ***/
.page-body {
	max-width: 1260px; /* 1260px of columns + 2 x 10px margin = 1280px */
	margin-left: auto;
	margin-right: auto;
	padding-top: .15em;
}
/*** END ALL PAGES - GLOBAL STYLES ***/

/* EACH PROJECT PAGE */
.menu-content {
	/*width:100%;*/
	margin-top:1.25%;
	margin-bottom:2%;
	height:100%;
	padding-bottom:1%;	
	overflow:hidden; /* gets rid of text extending into page beneath */
}

#content-area-recreate,
#content-area-nan,
#content-area-mark,
#content-area-trombone,
#content-area-major-exploration,
#content-area-homeconnect,
#content-area-giddy-throng,
#content-area-earthship-seattle,
#content-area-joemicheals {
	.content-area;
}

/* list of project nav items */
.project_details_recreate,
.project_details_nan,
.project_details_mark,
.project_details_trombone,
.project_details_major_exploration,
.project_details_homeconnect,
.project_details_giddy_throng,
.project_details_earthship_seattle,
.project_details_joemicheals {
	.projectDetailsTablet;
}

/*.long-text {
	font-size:0.5em;
}

.long-text h1 {
	font-size:2.25em;	
}*/

.no-block img {
	display: inline;	
}

.no-border {
	border:none;	
}

/*** NAN PAGE ***/
#page-nan {
	top: 200%;
	color: #000;
}

/* structure */
#page-nan #header-nan {
	width: 100%;
	background-color: #FFF;
}

header#header-nan img {
	margin-left: 0;	
}

/* NAN NAV - 480 px + */
#nav-sub-nan {
	.verticalMenuMixin-White;
}
/*** END NAN PAGE ***/

/*** reCREATE PAGE ***/
/* reCreate VARIABLES */
@reCreate-Blue:#C9D5DB;
@reCreate-Super-Light-Blue:#F4F7F8;
@reCreate-TreeColor:#040707;
@reCreate-Almost-Black:#A9A9A9;
/* END reCreate VARIABLES */

#page-reCreate {
	top:300%;
	background:#FFF;
	color:#000;
	overflow:hidden;
}

header#reCreate {
	overflow:hidden;
	margin-top:0;
	background-color:@reCreate-Blue;	
	/*background-image:url("images/tfleischauer-web202-a11-logo-441x110.png");*/
}

header#reCreate img {
	display:block;
}

/* NAV RECREATE - 480px and larger */
#nav-sub-recreate {
	.verticalMenuMixin-White;
	
	& ul {
		background-color: @reCreate-Blue;	
		border-bottom: 1px solid #828383;
	}
	
	& li {
		border-top: 1px solid #828383;
	}
	
	& li a {
		text-decoration: none;
		color:@reCreate-TreeColor;
	}

	& li a:hover {	/* use full descendent selector! */
		background-color:#FFF;
		color:@reCreate-TreeColor;
	}
	
	& li a:focus {

	}
	
	& li a:active {
		border-bottom: none;
	}
	
	& ul li ul {
		background-color:#FFF;
	}
	
	& ul li ul li a.selected-item {
		background-color:#FFF;
	}
	
	& ul li ul:last-child {
		border-bottom: none;
	}
	
	& li a.selected-item {
		background-color:@reCreate-TreeColor;
		color: #FFF;
	}

}
/* END NAV RECREATE - 480px and larger */
/*** END reCREATE PAGE ***/

/*** MARK PAGE ***/
#page-mark {
	top:400%;
	color:#000;
	overflow:hidden;
}

header#header-mark {
	overflow:hidden;	
}

/* MARK NAV 480 px and larger */
#nav-sub-mark {
	.verticalMenuMixin-White;
}
/* END MARK NAV 480 px and larger */
/*** END MARK PAGE ***/

/*** TROMBONE PAGE ***/
#page-trombone {
	top:500%;
	color:#000;
	overflow:hidden;
}

header#header-trombone {
	background-image: url("../images/wavelength-gold-on-green-2144x110px-outerglow.png");
	background-repeat: repeat-x;
	height: 110px;	
}

/* TROMBONE NAV 480 px and larger */
#nav-sub-trombone {
	.verticalMenuMixin-White;
}

#nav-sub-trombone li a {
	color: #567566;	/* green sub nav list items */
}

#header-trombone img {
	display: block;	
}
/* END TROMBONE NAV 480 px and larger */
/*** END TROMBONE PAGE ***/

/*** MAJOR EXPLORATION PAGE ***/
#page-major-exploration {
	top:600%;
	color:#000;
	overflow:hidden;
}

header#header-major-exploration {
	height:114px;
}

#header-major-exploration h1 {
   display:block;
   font-size:3em;
   color:#000;	
}

/* MAJOR EXPLORATION NAV 480 px and larger */
#nav-sub-major-exploration {
	.verticalMenuMixin-White;
}
/* END MAJOR EXPLORATION NAV 480 px and larger */
/*** END MAJOR EXPLORATION PAGE ***/

/*** HOMECONNECT PAGE ***/
#page-homeconnect {
	top:700%;
	color:#000;
	overflow:hidden;
}

header#header-homeconnect {
	height:110px;
	background-color:#CEE9FC;
	/*background-image: url("../images/homeconnect-logo-470x110px.png");*/
	/*background-repeat:no-repeat;*/
}

header#header-home-connect img {
	/*margin-left: 0;*/
	/*padding-left: 0;*/
}

#header-homeconnect h1 {
   display:block;
   font-size:3em;
   color:#000;	
}

/* HOMECONNECT NAV 480 px and larger */
#nav-sub-homeconnect {
	.verticalMenuMixin-White;
}
/* END HOMECONNECT NAV 480 px and larger */
/*** END HOMECONNECT PAGE ***/

/*** JOE MICHEALS PAGE ***/
#page-joemicheals {
	top:800%;
	color:#000;
	overflow:hidden;
}

header#header-joemicheals {
	height:110px;
}

#header-joemicheals h1 {
   display:block;
   font-size:1.4em;
   color:#FFF;	
   /*line-height: 110px;*/
   margin-left: 10px;
   width:460px;
   background-color: rgba(0, 0, 0, 0.8);
   position: relative;
   top: 30px;
   padding: 10px 5px 10px 5px;
   /*box-shadow: 2px 2px 2px #333;*/ /* horizontal, vertical, blur, color */
}

#header-joemicheals h1.fold {
	display: none;	
}

/* JOE MICHEALS NAV 480 px and larger */
#nav-sub-joemicheals {
	.verticalMenuMixin-White;
	
	& ul {
		 background-color: rgba(0, 0, 0, 0.9);	
	}
	
	& li {
		color:#FFF;
	}
	
	& li a:link,
	& li a:visited {
		/*color:#FFF;*/
		color: #FFCB39;
	}

	& li a:hover,
	& li a:focus {	/* use full descendent selector! */
		background-color:#000;
		color: #FFCB39;
	}
	
	& li a:active {
		/*border-bottom: none;*/
	}
}
/* END JOE MICHEALS NAV 480 px and larger */
/*** END JOE MICHEALS PAGE ***/

/*** GIDDY THRONG PAGE ***/
#page-giddy-throng {
	top: 900%;
	color: #000;
	overflow: hidden;
}

header#header-giddy-throng {
	height: 110px;
	/*background-image: url("../images/giddy-throng-logo-140829-450x56px.png");*/
	/*background-repeat: no-repeat;*/
	/*background-position: 5px 50%;*/
	/*display: block;*/
}

header#header-giddy-throng img{
	/*display: none;*/
}

header#header-giddy-throng .small-header-image {
	display: none;
}

header#header-giddy-throng .large-header-image {
	display: block;
	margin-top: 10px;
}

#header-giddy-throng h1 {
   display:block;
   font-size:3em;
   color:#000;	
}

/* GIDDY THRONG NAV 480 px and larger */
#nav-sub-giddy-throng {
	.verticalMenuMixin-White;
}
/* END GIDDY THRONG NAV 480 px and larger */
/*** END GIDDY THRONG PAGE ***/

/*** EARTHSHIP SEATTLE PAGE ***/
#page-earthship-seattle {
	top: 1000%;
	overflow: hidden;
}

header#header-earthship-seattle {
	height: 110px;
	/*background-image: url("../images/skylinelogo2-460x100px.png");*/
	/*background-repeat: no-repeat;*/
	/*background-position: 5px 50%;*/
	/*display: block;	*/
}

header#header-earthship-seattle img{
	/*display:none;*/
	margin-top: 5px;
	margin-left: 0;	
}

/* EARTHSHIP SEATTLE NAV 480 px and larger */
#nav-sub-earthship-seattle {
	.verticalMenuMixin-White;
}
/* END EARTHSHIP SEATTLE NAV 480 px and larger */
/*** END EARTHSHIP SEATTLE PAGE ***/

/*** CONTACT PAGE ***/
#page-contact {
	top: 1100%;
}
/*** END CONTACT PAGE ***/

/*** FORM ***/
fieldset {
	border: 2px solid grey;
	border-radius:3px;
	width:percentage(500/940);
	margin:auto;
	padding:2% 1% 1% 2%;
}

/*legend h2 {
	padding:5%;
	margin:5%;	
	font-size:130%;
}*/

#contact-form p {
	overflow:hidden;
	padding:1%;
}

#contact-form p label {
	/*width:100px;*/
	width:30%;
	float:left;
    margin-right:3%;
	display:inline-block;
	font-size:.8em;
}

#contact-form p input {
	float:left;
	width:67%;
}

textarea {
	width:67%;
}

#contact-form p#buttons {
	padding-right:3%;	
}

#contact-form button {
	float:right;
	margin:1%;	
}

#result {
	margin-top:2%;	
}

.thankyou-page {
	font-size:200%;	
	text-align:center;
}
/*** END FORM ***/

/* IMAGE SIZES */
.project_details_img_large {
	display:block;	
}

.project_details_img_small {
	display:none;	
}

.project_details_img.no-border {
	border:none;
}
/* END IMAGE SIZES */
