/***** STYLE SHEET FOR WIDTHS 768px - 1079px *****/

/*** Grids for development only ***/
.page {
	background-image: url("../images/grid-800px-.png");
	background-image: url("../images/grid-980px-.png");
	background-position: center;
	background-repeat: repeat-y;
	/*max-width: 980px;*/
}
/*** END Grids for development only ***/

/*** GLOBAL STYLES ***/
/*.page-body {
	max-width: 940px;
}*/

/*.max940px {
	max-width: 940px;
	margin: auto;
}*/

.max980px {
	max-width:980px;
	margin:auto;	
}

.max940px {
	max-width:940px;
	margin:auto;	
}


.section-label {
	padding-left: 0;
	padding-right: 0;
}
/*** END GLOBAL STYLES ***/

/***** HOME PAGE *****/
.home-page-container {
	margin-bottom: 50px;	
}

.header-main {	
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 30px;	
}

/*** CONTACT ICONS ***/
.contact-icons {
	width: 110px;
	top: 25px;
	margin-top: 0;
	padding: 0;
	margin: 0;
}

i.icon-github,
i.icon-linkedin {
	font-size: 50px;	
}
/*** END CONTACT ICONS ***/

.home-page-text {
	font-size: .95em;
}

/* Process */
.home-page-text h3 {
	font-size: 1.5em;
}
/***** END HOME PAGE *****/

/***** UX PROJECTS PAGE *****/
/*** MIXINS ***/
.allCirclesMixin {
	.circleMixin-140px;
 	.stroke(2px, solid, #000);
	
	a {
		display: block;
		width: 100%;
		height: 100%;	
	}
	
	&:hover .cover {
		opacity: 1;
		overflow: hidden;
	}
	
}

.circleMixin-140px {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	background-color: white;
	overflow: hidden;
}
/*** END MIXINS ***/

/*** FUNCTIONS  outline-color, outline-style, outline-width. ***/
.stroke(@outline-width : 2px, @outline-style : solid, @color : black) {
	-moz-border:  @outline-width @outline-style @color;
	-webkit-border:  @outline-width @outline-style @color;
	-ms-border:  @outline-width @outline-style @color;
	border: @outline-width @outline-style @color;
	overflow: hidden;
}
/* END FUNCTIONS */

/* CIRCLE BEHAVIORS */
.mobile-rectangle,
.greyscale-circle-70,
.color-circle-70,
.greyscale-circle,
.color-circle {
	display: none;
}

.greyscale-circle-140 {
	position: absolute;
	top: 0;
	z-index: 2;
	opacity: 1;
	overflow: hidden;
	display: block;	
	
	/* transition: 
	1. opacity is the transition property
	2. transition duration, the amount if time time to transition from 1 to zero
	3. ease-out is the transition timing function
	4. transition delay, amount of time before opacity is fully opaque, 
	   then amount of time before going from opaque to no opacity */
	
	-moz-transition: opacity 500ms ease-out 10ms;
	-webkit-transition: opacity 500ms ease-out 10ms;
	transition: opacity 500ms ease-out 10ms;
	
	.project:hover & { /* greyscale image disappears when hovering over the whole project */
		opacity: 0; 
		overflow: hidden;
	}
}

.color-circle-140 {
	position: absolute;
	z-index: 1;
	top: 0;
	display: block;
	overflow: hidden;
}
/* END CIRCLE BEHAVIORS */

/* PROJECT CIRCLES */
#earthship-seattle,
#giddy-throng,
#artist,
#re-create,
#mark,
#vo,
#home-connect,
#trombone,
#major-exploration {
	.allCirclesMixin;
}
/* END PROJECT CIRCLES */

/* PROJECT CIRCLE COVERS */
#earthship-seattle {
	
 	& h2.cover {
		font-size: 18px;
		margin-left: 0;
		margin-top: 38px;
		color: #FFF;
	}
}

#artist {
	
	& h2.cover {
		font-size: 1.3em;	
		margin-left: 23%;
		margin-top: 75px;
	}
}

#re-create {
	
	& h2.cover {
		font-size: .9em;	
		width: 70px;
		margin-left: 67px;
		margin-top: 33px;
	}
}

#mark {
	
	& h2.cover {
		font-size: 1.3em;
		margin-left: 16%;
		margin-top: 57px;
	}
}

#home-connect {
	
	& h2.cover {
		font-size: 15px;
		margin-left: 11%;
		margin-top: 56px;
	}	
}

#trombone {
	
	& h2.cover {
		font-size: .9em;
		margin-left: 4%;
		margin-top: 34%;
	}
}

#major-exploration {
	
	& h2.cover {
		font-size: 12px;
		margin-left: 13%;
		margin-top: 60px;
		color: red;
	}
}
/* END PROJECT CIRCLE COVERS */
/***** END UX PROJECTS PAGE *****/

/* PROJECT PAGES */
.page-body {
	max-width: 980px;
}

header .max1260px {
	padding-left: percentage(20/980);
	padding-right: percentage(20/980);
}

#content-area-recreate,
#content-area-nan,
#content-area-mark,
#content-area-trombone,
#content-area-major-exploration,
#content-area-homeconnect,
#content-area-giddy-throng,
#content-area-earthship-seattle,
#content-area-joemicheals {
	/*width: percentage(700/940);*/
	/*background-color: #FFF8DC;*/  /* Cornsilk */
	width: percentage(620/940);
}

.projectDetails768 {
	
	& h1 {
		font-size: 1.25em;
	}
		
	& .project_details_p { 
		/*float: left;*/
		/*width: percentage(460/700); *//* like the wire frames, 2/3 text, 1/3 image */
		/*width: percentage(220/700);*/ /* 1/3 text, 2/3 image */
		/*width: percentage(380/700);*/ /* 5/9 text, 4/9 image */
		/*width: percentage(300/700); *//* 4/9 text, 5/9 image */	
		/*padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;*/
		/*overflow: hidden;*/
		/*font-size: .9em;*/
		
		/*width: 100%;*/
		/*-moz-column-count:2;
		-moz-column-gap:1em;*/
	}
	
	& p {
		font-size: .9em;
		float: none; /* allows text to float around the image */
	}
	
	& figure {
		/*float: right;*/
		/*width: percentage(220/700);*/ /* like the wire frames, 2/3 text, 1/3 image */
		/*width: percentage(460/700);*/ /* 1/3 text, 2/3 image */
		/*width: percentage(300/700); *//* 5/9 text, 4/9 image */
		/*width: percentage(380/700);*/ /* 4/9 text, 5/9 image */
		/*overflow: hidden;*/
		/*border: 2px solid grey;*/
		/*text-align: center;*/
		
		margin-right: 0;	
		
		/*clear: both;*/
		/*display: inline;*/
	}
	
	& figure img {
		/*border: 2px solid grey;*/
		/*alignment-baseline: baseline;*/
		/*display: inline;*/
	}
	
	& figcaption {
		margin-top: .8em;
		/*display: inline;*/
	}
	
	& .figure {
		/*float: right;*/
		/*width: percentage(220/700);*/ /* like the wire frames, 2/3 text, 1/3 image */
		/*width: percentage(460/700);*/ /* 1/3 text, 2/3 image */
		/*width: percentage(300/700); *//* 5/9 text, 4/9 image */
		/*width: percentage(380/700);*/ /* 4/9 text, 5/9 image */
		/*overflow: hidden;*/
		/*border: 2px solid grey;*/
		/*text-align: center;*/
		
		margin-right: 0;	
		
		/*clear: both;*/
		/*display: inline;*/
	}
	
	& .figure img {
		border: 2px solid grey;
		/*alignment-baseline: baseline;*/
		/*display: inline;*/
	}
	
	& blockquote {
		text-align: center;	
	}
	
	& img.no-border {
		border: none;
	}
}

.project_details_earthship_seattle p,
#content-area-earthship-seattle h2,
.project_details_earthship_seattle p {
	/*-moz-column-count: 2;
	width: 100%;
	-moz-column-gap: 20px;*/
	/*float: none;*/ /* allows text to float around the image */
		
}

.project_details_recreate,
.project_details_nan,
.project_details_mark,
.project_details_trombone,
.project_details_major_exploration,
.project_details_homeconnect,
.project_details_giddy_throng,
.project_details_earthship_seattle,
.project_details_joemicheals {
	.projectDetails768;
}

.long-text {
	font-size:0.85em;
}

#page-nan #nav-sub-nan,
#page-mark #nav-sub-mark,
#page-reCreate #nav-sub-recreate,
#page-trombone #nav-sub-trombone,
#page-major-exploration #nav-sub-major-exploration,
#page-homeconnect #nav-sub-homeconnect,
#page-giddy-throng #nav-sub-giddy-throng,
#page-earthship-seattle #nav-sub-earthship-seattle,
#page-joemicheals #nav-sub-joemicheals  {
	font-size: 1.1em;
	line-height: 1.5; /* 24px / 16 px */
	/*width: percentage(220/940);*/
	width: percentage(300/940);
	/*background-color: #FFFDF4;*/
	/*border-right: 1px solid #000;*/ /* A3A29E; */
	/*border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;*/
	/*background-color: lightgrey;*/
	/*padding: 20px 10px;*/
}

header img {
	margin-left: 0;
	margin-right: 0;
}

header#header-home-connect img {
	margin-left: 0;
	padding-left: 0;
}

header#header-joemicheals {
	padding-left: 0;
	
	& h1 {
	   display: block;
	   font-size: 2.2em;
	   width: 720px;
	   position: relative;
	   top: 25px;
	}
	
	h1.fold {
		display: none;
	}	
}

header#header-earthship-seattle img {
    margin-left: 0;
}
/* END PROJECT PAGES */

/*** CONTACT FORM ***/
#contact-form p label {
	font-size:1em;
}
/*** END CONTACT FORM ***/

/*** FORM ***/
fieldset {
	width:percentage(500/940);
}

#contact-form p {
	overflow:hidden;
	padding:1%;
}

#contact-form p label {
	width:30%;
	float:left;
    margin-right:3%;
	display:inline-block;
	font-size:.8em;
}

#contact-form p input {
	float:left;
	width:67%;
}

textarea {
	width:67%;
}

#contact-form p#buttons {
	padding-right:3%;	
}

#contact-form button {
	float:right;
	margin:1%;	
}

#result {
	margin-top:2%;	
}

.thankyou-page {
	font-size:200%;	
	text-align:center;
}
/*** END FORM ***/
