/***** STYLE SHEET FOR WIDTHS LESS THAN 480px *****/

/*** RESETS ***/

/* *, *:before, *:after border-box does not apply to pseudo elements */

* {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline; /* Descenders will go to the baseline but not drop below. Pictures will sit above/on the baseline. */
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;	
	font-family: 'Open Sans', "Century Gothic", Muli, "Trebuchet MS", "Helvetica", Arial, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;	
}

img {
	max-width:100%;	
}

.clear {
	clear: both;	
}
/*** END RESETS ***/

/*** GLOBAL SELECTORS ***/
p {
	margin-bottom:.5em;
	padding:0 0 0 0;
}

h1, h2, h3, h4,
.header-main p {
	font-family: Roboto;	
}

h2 {
	margin-bottom:.5em;
}

h3 {
	margin-bottom: .45em;	
}

a:link,
a:visited {
	color: #333;
	text-decoration:none;
	border-bottom-color: #CCCCCC;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
}
/*  border instead of an underline, 
underlines are notoriously inflexible. */

a:hover,
a:focus {
	border-bottom: 1px solid #333;
	text-decoration: none;
	border-bottom-color: #333;
}

a:active {
	border-bottom: 1px solid #333;
	text-decoration: none;
	border-bottom-color: #333;
}

a:link img {
	border-bottom:none;	
	text-decoration:none;
}

.italic {
	font-style: italic;	
} 

.strong {
	font-weight: 600;	
}

.float-left-figure {
	float: left;
	clear: both;
	display: inline-block;	
	width: percentage(300/620);
}

.float-right-figure {
	float: right;
	clear: right;	
	display: inline-block;
	width: percentage(300/620);
}

figure {
	/*width: percentage(620/940);*/	
	/*display: block;*/
	/*margin-bottom: 2em;*/
}

/*figcaption {
	clear: both;
	padding-top: .75em;	
}*/

figure a:link,
figure a:hover,
.logo a:link,
.logo a:hover,
a.project:link,
a.project:hover {
	border-bottom:none;	
	text-decoration:none;
}

.padding-top {
	padding-top: 15px;	
}

/* RAVEN'S VERTICAL LISTS */
ol {
	padding-left:2.25em;	
}

ul {
	/*background-color: green;*/
	padding-left: 1em; /* padding WILL show the background of the ul tag */
}

li {
	/*background-color: red;*/
	padding-bottom: 0.25em; /* 4px / 16px */ /* padding WILL show the background of the li tag */
}

p, ol, ul {
	margin-bottom: 0.375em;	/* 6px / 16px */
}

ul li ul {
	/*background-color: blue;*/
	padding-top: 0.25em; /* creates vertical space for sub-list */
	margin-bottom: 0; /* zeros out bottom of the sub-list */
}
/* END RAVEN'S VERTICAL LISTS */

.page {
	height: 100%;	
	min-height: 100vh;
	margin-bottom: 3em;
}
/*** END GLOBAL SELECTORS ***/

/* MIXINS */
.mobileProjectMixin {
   border: .03em solid #000;
   height:50px;
   overflow: hidden;
   width:96%;
   margin:auto;
   margin-bottom:2%;	
}

.projectDetailsMobile {
	& h1 {
		font-size:115%;
		padding-top:15px;	
		padding-bottom:15px;
	}
	
	& p {
		font-size:.8em;
	}
	
	& .pdf-link {
		margin-top:1em;	
		
	}
	/* div containing the image */
	& figure {
		width: 96%;
		margin-bottom: 2em;
		/*outline: 1px solid lightgrey;*/
	}
	
	& figure img {
		border: 1px solid lightgrey;
	}
	
	& .white-outline {
		outline: 1px solid white;
	}
	
	& .white-outline a:hover img {
		outline: 1px solid darkgrey;
	}
	
	& .lb-hover a:hover img {
		border: 1px solid darkgrey;	
	}
	
	& figcaption {
		font-size: .7em;
		text-align: center;	
		font-weight: 600;
		clear: both;
		padding-top: .75em;
	}
	
	& ul {
		padding-bottom:.6em;
		padding-left: 1.1em;
		font-size: .75em	
	}
	
	& li {
		padding-bottom:.3em;
	}
	
	& img.no-border {
		border: none;
	}
}
/* END MIXINS */

/*** FUNCTIONS ***/
/*** END FUNCTIONS ***/

/***** HOME PAGE *****/
#home-page-container {
	width: 100%; /* extends header bg color */
	margin: auto;
}

.header-main {
	background-color: #262626;
	height: 60px;
	line-height: 60px;
	margin-bottom: 25px;
	padding-left: 2%;
	padding-right: 2%;
}

.header-main p {
	font-size: 1.75em;
	color: #FFF;	
	display: inline-block;
}

.header-main a:link,
.header-main a:visited,
.header-main a:hover,
.header-main a:focus,
.header-main a:active {
	border-bottom: none;	
	text-decoration: none; 	
}

/*** CONTACT ICONS ***/
.contact-icons {
	float: right;
	max-width: 90px;
	width: 25%;
	display: inline-block;
	margin-top: 10px;
}

i.icon-github {
	float: left;
	font-size: 40px;	
}

i.icon-linkedin {
	float: right;	
	font-size: 40px;	
}
/*** END CONTACT ICONS ***/

#home-page-container .page-body {
	width: 96%;
	margin: auto;
	background-color: #5C7262;
	color: #FFF;
	padding: 10px 5px 10px 5px;
}

.home-page-text {
	font-size: .85em;	
	margin-bottom: 15px;
}

.home-page-text p:last-child {
	padding-top: .375em;
	/*display: none;*/
}

/* Welcome! */
#home-page-container .page-body > h2 {
	font-size: 1.2em;	
}

/* Process */
.home-page-text h3 {
	font-size: 1.35em;
	margin-top: .75em;
}

.home-image {
	display: inline-block;
}
/***** END HOME PAGE *****/

.section-label {
	font-size:1.55em;
	margin-top: 15px;
	margin-right: 2%;
	margin-bottom: 15px;
	margin-left: 2%;
}

.project {
	position: relative;	
}

/*** PROJECT PAGE ICONS & PROJECT HEADERS ***/
/* numbering system - development only */
.projectDiv { 
	display:none;	
}
/* end numbering system - development only */

.greyscale-circle-70,
.color-circle-70,
.greyscale-circle-140,
.color-circle-140,
.greyscale-circle,
.color-circle  {
	display:none;	
}

.mobile-rectangle {
	display:block;
}

#artist,
#re-create,
#mark,
#trombone,
#home-connect,
#major-exploration,
#giddy-throng,
#earthship-seattle,
#vo  {
 .mobileProjectMixin;
}

#trombone {
 	background-image: url("../images/random-trombone-200x50px-no-text.png");
 	background-repeat: repeat;
}

#trombone h2.cover {
	display: block;	
}

#home-connect {
 background-color: #CEE9FC;
}

#giddy-throng {
  background-color: #262626;
}

#major-exploration {
	background-color: #B3B3B5;
}

#vo {	  
   background-color: #000;  
}

#vo h2.cover {
	margin: 12px 10px;
}

.cover h2 {
	text-decoration: none;
	overflow: hidden;	
}

#artist h2.cover {
	color:#FFF;
	margin-left:50%;
	margin-top:-19%;
	font-size:26px;		
}

#artist a {
	text-decoration:none;
}

#re-create h2.cover {
	color:#000;
	margin-left:12%;
	margin-top:-17%;
	font-size:1.4em;
	font-family: "Myriad Pro", "PT Sans", sans-serif;
	overflow: hidden;	
}

#re-create a {
	text-decoration:none;
	overflow: hidden;
}

#major-exploration h2.cover {
	color:#000;
	font-size:24px;	
	display:none;	
}

#mark .cover,
#home-connect .cover {
	display:none;	
}
/*** END PROJECT PAGE ICONS & PROJECT HEADERS ***/

/*** PROJECT PAGES ***/
/* PROJECT HEADERS */
header img {
	margin-left: percentage(5/480);
	padding-right: percentage(10/480);
}

header#header-homeconnect img,
header#header-major-exploration img,
header#header-giddy-throng img {
	display: block;
}

header#header-nan img {
	/*height: 75px;	*/
	/*max-height: 75px;*/
}

header#reCreate {
	background-color:#C9D5DB;
	overflow:hidden;
	/*height: 75px;*/	
}

header#header-mark img {
	padding: 5px 0 5px 0;	
}

header#reCreate img {
	display: block;	
	margin-left: 0;
}

header#header-trombone {
	overflow: hidden;
	height: 110px;
	background-image: url("../images/wavelength-gold-on-green-481x110px-outerglow-2.png");
	background-repeat: no-repeat;
}

/*header#header-trombone .small-header-image {
	display: block;
}

header#header-trombone .large-header-image {
	display: none;
}*/

#header-trombone img {
	display: none;
	margin-left: 0;	
}

header#header-homeconnect {
	background-color: #CEE9FC;
}

header#header-major-exploration {
 	background-color: #B3B3B5;
 	overflow: hidden;
}

header#header-giddy-throng {
    background:#262626;
    padding: 20px 0 20px 0;
	/*height: 75px;*/
}

header#header-giddy-throng .small-header-image {
	display: block;
	/*width: 96%;*/
	padding-left: percentage(5/480);
}

header#header-giddy-throng .large-header-image {
	display: none;
}

header#header-joemicheals {
	height: 75px;
	background-repeat: no-repeat;
	padding-left: percentage(5/320);
}

#header-joemicheals {
	/* fallback color */
	background-color:#6F848D; /* original greyish blue background color */
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(#01161E, #DCF1FB);
	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01161E), to(#DCF1FB));
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(#01161E, #DCF1FB); 
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(#01161E, #DCF1FB);
	height: 100%;
	/* This line is the money code, and not in Duckett CSS3: Gradients */
	/* background-attachment: fixed;	*/
}

#header-joemicheals h1 {
   display: none; 
}

#header-joemicheals h1.fold {
   display: block;
   font-size: 1.4em;
   color: #FFF;	
   width: 300px;
   margin: 0;
   position: relative;
   top: 5px;
   padding: 5px 5px 5px 5px;
   background-color: rgba(0, 0, 0, 0.8);
}

.yellow-flair {
   color: #FFCB39;
}

#header-earthship-seattle {
	padding-top: 1vh;	
}

#header-earthship-seattle img {
	margin-left: percentage(5/480);	
}

#earthship-seattle h2 {
	font-family: "PT Mono"; 
	font-size: 1.5em;
	padding-top: 10px;
	padding-left: 5px;
}
/* END PROJECT HEADERS */

.menu-content {
	/*width:100%;*/
	margin-top:1.25%;
	margin-bottom:2%;
	height:100%;
	padding-bottom:1%;	
}

#content-area-recreate,
#content-area-nan,
#content-area-mark,
#content-area-trombone,
#content-area-major-exploration,
#content-area-homeconnect,
#content-area-giddy-throng,
#content-area-earthship-seattle,
#content-area-joemicheals {
	width:96%;
	margin-left:auto;
	margin-right:auto;
}

/* the nav items */
.project_details_recreate,
.project_details_nan,
.project_details_mark,
.project_details_trombone,
.project_details_major_exploration,
.project_details_homeconnect,
.project_details_giddy_throng,
.project_details_earthship_seattle,
.project_details_joemicheals {
	.projectDetailsMobile;
}
/*** END PROJECT PAGES ***/

/*** MOBILE MAIN NAV ***/
nav {
	/*display:none;*/
	position:fixed;
	z-index:100;
	width:100%;
	left:0;
	bottom:0;
	margin:auto;
	/*visibility:visible;	*/
	background-color:#262626;
}

nav ul {
	list-style-type:none;
	/*min-width:320px;*/
	max-width: 480px;
	/*width: 320px;*/
	width: 234px; /* added 4px to fix layout break in Firefox */
	margin:auto;
	padding-left: 4px; /* removes global style */  /* added 4px padding to center (Firefox) */
}

nav ul li {
	float:left;
	font-size:1em;
	/*padding-bottom: 0;*/ /* removes global style */
}

li .scroll {
	border-bottom: none;
	color: #FFF;
}

/* a is any link (including ones w/o an href) */
nav li a {
	display:block;
	padding-left:12px;
	padding-right:13px;
	padding-top:10px;	
	padding-bottom:5px;
	cursor: pointer;
}

/* a:link is a link with an href */
nav a:link,
nav a:visited {
	text-decoration:none;
	color:#FFF;
	border-bottom:none;
}

nav a:hover,
nav a:focus {
	text-decoration:underline;
}
/*** END MOBILE MAIN NAV ***/

/*** COLLAPSE NAVS ***/
.nav-sub-mixin {
	display:none;
	background:#A9A9A9;	
	
	& li {
		list-style-type:none;
		display:block;
		padding:1%;	
		
		& a {
			text-decoration:none;
			color:#FFF;	
			border-bottom: none;	
		}
		
		& a:hover {
			text-decoration:underline;	
		} 
	}
	
	 /*** jQuery ACTIVE STATE ***/
	/* & li .selected-item { */
	& .selected-item {
	  display: block;
	  color: #FFF;
	  text-decoration:underline;
	}
}

.nav-collapse-mixin {
	display:block;	
	text-align:right;
	width:100%;
	padding:0.325em;
	color:#FFF;
	background:#000;
	text-decoration:none;
	border-bottom:none;		
}

#nav-sub-nan,
#nav-sub-recreate,
#nav-sub-mark,
#nav-sub-trombone,
#nav-sub-major-exploration,
#nav-sub-homeconnect,
#nav-sub-giddy-throng,
#nav-sub-earthship-seattle,
#nav-sub-joemicheals {
	.nav-sub-mixin;		
}

#nav-collapse-nan,
#nav-collapse-recreate,
#nav-collapse-mark,
#nav-collapse-trombone,
#nav-collapse-major-exploration,
#nav-collapse-homeconnect,
#nav-collapse-giddy-throng,
#nav-collapse-earthship-seattle,
#nav-collapse-joemicheals  {	
	.nav-collapse-mixin;
}
/*** END COLLAPSE NAVS ***/

/*** CONTACT FORM ***/
form {
	font-size:125%;	
}

label {
	margin-bottom:.75%;	
}

input,
textarea {
	border: 1px solid grey;
	border-radius: 2px;
	width:100%;	
	margin-bottom:2%;
}

/*input[type="email"] {
	width:20%;	
}*/

#contact-form label {
	width:67%;
	display:block;
}

#contact-form input.error { /* input boxes */
	border: 1px solid magenta;
}

#contact-form label.error { /* text */
	color:magenta;
	margin-bottom:1%;
}

#contact-form textarea.error {
	color:magenta;
	border: 1px solid magenta;
}

#contact-form button {
	float:right;
	margin:1%;	
	padding:1%;
}

#contact-form p#buttons {
}

fieldset {
	width:96%;
	margin:auto;
	/*border:1px solid black;	*/
}

#first-name,
#last-name,
#email,
#subject {
	height:36px;
	margin-bottom:1.5%;	
	
}
/*** END CONTACT FORM ***/

/*** MOBILE FONTS ***/
/*** END MOBILE FONTS ***/

/*** PROJECT_DETAILS ***/
.figure_large {
	display: block;	
}

.figure_small {
	display: none;	
}
/*** END PROJECT_DETAILS ***/

/*** IFRAME ***/
.iframe-wrapper {
	height: 0;
	position: relative;	
	
	/* padding is relative to the width of the element */
	/* The aspect ratio of 16:10, is expressed by 10/16 = 62.5% */
	padding-bottom:62.5%;
	z-index:1;
	clear:both;
}

iframe {
	width:100%;	
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
/*** END IFRAME ***/
