/***** STYLE SHEET FOR WIDTHS LESS THAN 480px *****/

/*** RESETS ***/

/* *, *:before, *:after border-box does not apply to pseudo elements */

* {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline; /* Descenders will go to the baseline but not drop below. Pictures will sit above/on the baseline. */
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;	
	font-family: "Century Gothic", Muli, "Trebuchet MS", "Helvetica", Arial, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;	
}

img {
	max-width:100%;	
}

.clear {
	clear:both;	
}
/*** END RESETS ***/

/*** GLOBAL SELECTORS ***/
p {
	margin-bottom:.5em;
	padding:0 0 0 0;
}

a:link,
a:visited {
	color: #333;
	text-decoration:none;
	border-bottom-color: #CCCCCC;
	border-bottom-style: dotted;
	border-bottom-width: 2px;
}
/*  border instead of an underline, 
underlines are notoriously inflexible. */

a:hover {
	border-bottom: 1px solid #333;
	text-decoration: none;
	border-bottom-color: #333;
}

a:focus {
	border-bottom: 1px solid #333;
	text-decoration: none;
	border-bottom-color: #333;
}

a:active {
	border-bottom: 1px solid #333;
	text-decoration: none;
	border-bottom-color: #333;
}

a:link img {
	border-bottom:none;	
	text-decoration:none;
}

.italic {
	font-style: italic;	
} 

.project_details_img a:link,
.project_details_img a:hover,
.logo a:link,
.logo a:hover,
a.project:link,
a.project:hover {
	border-bottom:none;	
	text-decoration:none;
}

/* RAVEN'S VERTICAL LISTS */
ol {
	padding-left:2.25em;	
}

ul {
	/*background-color: green;*/
	padding-left: 1em; /* padding WILL show the background of the ul tag */
}

li {
	/*background-color: red;*/
	padding-bottom: 0.25em; /* 4px / 16px */ /* padding WILL show the background of the li tag */
}

p, ol, ul {
	margin-bottom: 0.375em;	/* 6px / 16px */
}

ul li ul {
	/*background-color: blue;*/
	padding-top: 0.25em; /* creates vertical space for sub-list */
	margin-bottom: 0; /* zeros out bottom of the sub-list */
}
/* END RAVEN'S VERTICAL LISTS */

.page {
	height: 100%;
	/*top: 0;*/
	/*left: 0;*/	
	min-height: 100vh;
	
	/*position: relative;*/
	/*padding-bottom: 50px;*/
	/*padding-bottom: 3em;*/
	margin-bottom: 3em;
}

/*** END GLOBAL SELECTORS ***/

/* VARIABLES */
/* @majorExplorationColor: #B3B3B4; */
/* END VARIABLES */

/* MIXINS */
.mobileProjectMixin {
   border: .03em solid #000;
   height:50px;
   overflow: hidden;
   width:96%;
   margin:auto;
   margin-bottom:2%;	
}

.projectDetailsMobile {
	& h1 {
		font-size:115%;
		padding-top:15px;	
		padding-bottom:15px;
		
		
	}
	
	& img {
		
	
	}
	
	/* all paragraphs as a group in project_details */
	& .project_details_p { 
		margin-bottom:.7em;
		float:left;
		padding:0 0 1.7em 0;
		font-size:.8em;
		width:96%;
		margin:auto;
	}
	
	& .pdf-link {
		margin-top:1em;	
		
	}
	/* div containing the image */
	& .project_details_img {
		width:96%;
	}
	
	& ul {
		padding-bottom:.6em;
		padding-left: 1.1em;	
	}
	
	& li {
		padding-bottom:.3em;
	}
}
/* END MIXINS */

/*** FUNCTIONS ***/
/*** END FUNCTIONS ***/

/*** HOME PAGE ***/
#home-page-container {
	width:100%;
	margin:auto;
	/* margin-bottom:100px;	*/	
}

.header-main {
	margin-bottom: 25px;
	background-color: #262626;
	height: 60px;
	line-height: 60px;	
	/*padding-top: 0;*/
	padding-left: 2%;
	padding-right: 2%;
}

.header-main p {
	font-size:1.75em;
	color:#FFF;	
	display:inline-block;
	
}

.header-main a:link,
.header-main a:visited,
.header-main a:hover,
.header-main a:focus,
.header-main a:active {
	border-bottom:none;	
	text-decoration:none; 	
}

/*** CONTACT ICONS ***/
.contact-icons {
	float:right;
	/*width:29.16666667%;*/
	max-width: 90px;
	width:25%;
	display:inline-block;
	margin-top:10px;
}

i.icon-github {
	float:left;
	font-size: 40px;	
}

i.icon-linkedin {
	float:right;	
	/*width:42.85714286%;*/
	font-size: 40px;	
}
/*** END CONTACT ICONS ***/

.home-page-text {
	padding:0 10px;	
}

.home-page-text p:last-child {
	padding-top:.375em;	
}

.home-page-text h2 {
	font-size:1.4em;
	margin-top:.85em;
}
/*** END HOME PAGE ***/

.section-label {
	font-size:1.55em;
	/*margin: 15px 10px 10px 10px;	*/
	margin-top: 15px;
	margin-right: 2%;
	margin-bottom: 15px;
	margin-left: 2%;
	
}

#page-contact .header-main,
#page-thankyou .header-main {
	/*margin-bottom:0px;*/	
}

h2 {
	margin-bottom:.5em;
}

.project {
	position:relative;	
}

/*** PROJECT PAGE - ALL RECTANGLE ICONS ***/
/*#page-projects {
	visibility:visible;
}*/

/*** PROJECT PAGE ICONS & PROJECT HEADERS ***/
/* numbering system - development only */
.projectDiv { 
	display:none;	
}
/* end numbering system - development only */

.greyscale-circle-70,
.color-circle-70,
.greyscale-circle-140,
.color-circle-140,
.greyscale-circle,
.color-circle  {
	display:none;	
}

.mobile-rectangle {
	display:block;
}

#artist,
#re-create,
#mark,
#trombone,
#home-connect,
#major-exploration,
#giddy-throng,
#earthship-seattle,
#vo  {
 .mobileProjectMixin;
}

header#reCreate img,
header#header-homeconnect img,
header#header-major-exploration img,
header#header-giddy-throng img {
	display: block;
}

header#header-nan img {
	/*margin-left: percentage(10/320);*/	
}

#trombone {
 	background-image: url("../images/random-trombone-200x50px-no-text.png");
 	background-repeat: repeat;
}

#trombone h2.cover {
	display: block;	
}

#home-connect {
 background-color: #CEE9FC;
}

#giddy-throng {
  background-color: #262626;
}

#major-exploration {
	background-color: #B3B3B5;
}

header#header-homeconnect {
	background-color: #CEE9FC;
}

header#header-major-exploration {
 	background-color: #B3B3B5;
 	overflow: hidden;
}

#header-earthship-seattle img {
	margin-left: 5px;	
}

#earthship-seattle h2 {
	font-family:"PT Mono"; 
	font-size:1.5em;
	padding-top:10px;
	padding-left:5px;
}

header#header-giddy-throng {
    background:#262626;
    padding: 20px 0 20px 5px;
}

header#header-giddy-throng .small-header-image {
	display: block;
}

header#header-giddy-throng .large-header-image {
	display: none;
}

header#header-joemicheals {
	height:100px;
	background-repeat:no-repeat;
}

#header-joemicheals {
	/* fallback color */
	background-color:#6F848D; /* original greyish blue background color */
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(#01161E, #DCF1FB);
	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01161E), to(#DCF1FB));
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient(#01161E, #DCF1FB); 
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(#01161E, #DCF1FB);
	height: 100%;
	/* This line is the money code, and not in Duckett CSS3: Gradients */
	/* background-attachment: fixed;	*/
}

#header-joemicheals h1 {
   display: none; 
}

#header-joemicheals h1.fold {
   display:block;
   font-size:1.5em;
   color:#FFF;	
   margin-left: 6px;
   width:320px;
   position: relative;
   top: 15px;
   padding: 5px 5px 5px 5px;
   background-color: rgba(0, 0, 0, 0.8);
   /*box-shadow: 2px 2px 2px #333;*/ /* horizontal, vertical, blur, color */
}

.yellow-flair {
   color: #FFCB39;
}

#vo {	  
	  background-color: #000;  
}

#vo h2.cover {
	margin: 12px 10px;
}

.cover h2 {
	text-decoration:none;
	overflow: hidden;	
}

#artist h2.cover {
	color:#FFF;
	margin-left:50%;
	margin-top:-19%;
	font-size:26px;		
}

#artist a {
	text-decoration:none;
}

#re-create h2.cover {
	color:#000;
	margin-left:12%;
	margin-top:-17%;
	font-size:1.4em;
	font-family: "Myriad Pro", "PT Sans", sans-serif;
	overflow: hidden;	
}

#re-create a {
	text-decoration:none;
	overflow: hidden;
}

#major-exploration h2.cover {
	color:#000;
	font-size:24px;	
	display:none;	
}

#mark .cover,
#home-connect .cover {
	display:none;	
}
/*** END PROJECT PAGE ICONS & PROJECT HEADERS ***/

/*** PROJECT PAGES ***/
.menu-content {
	/*width:100%;*/
	margin-top:1.25%;
	margin-bottom:2%;
	height:100%;
	padding-bottom:1%;	
}

#content-area-recreate,
#content-area-nan,
#content-area-mark,
#content-area-trombone,
#content-area-major-exploration,
#content-area-homeconnect,
#content-area-giddy-throng,
#content-area-earthship-seattle,
#content-area-joemicheals {
	width:96%;
	margin-left:auto;
	margin-right:auto;
}

/* the nav items */
.project_details_recreate,
.project_details_nan,
.project_details_mark,
.project_details_trombone,
.project_details_major_exploration,
.project_details_homeconnect,
.project_details_giddy_throng,
.project_details_earthship_seattle,
.project_details_joemicheals {
	.projectDetailsMobile;
}

header#reCreate {
	background-color:#C9D5DB;
	overflow:hidden;	
}

header#header-trombone {
	overflow: hidden;
	height:110px;
	background-image: url("../images/wavelength-gold-on-green-481x110px-outerglow-2.png");
}

#header-trombone img {
	display: none;	
}
/*** END PROJECT PAGES ***/

/*** MOBILE MAIN NAV ***/
nav {
	/*display:none;*/
	position:fixed;
	z-index:100;
	width:100%;
	left:0;
	bottom:0;
	margin:auto;
	/*visibility:visible;	*/
	background-color:#4D4D4D;
}

nav ul {
	list-style-type:none;
	/*min-width:320px;*/
	max-width: 480px;
	width: 320px;
	margin:auto;
	padding-left: 0; /* removes global style */
}

nav ul li {
	float:left;
	font-size:1em;
	/*padding-bottom: 0;*/ /* removes global style */
}

li .scroll {
	border-bottom: none;
	color: #FFF;
}

/* a is any link (including ones w/o an href) */
nav li a {
	display:block;
	padding-left:12px;
	padding-right:13px;
	padding-top:10px;	
	padding-bottom:5px;
	cursor: pointer;
}

/* a:link is a link with an href */
nav a:link,
nav a:visited {
	text-decoration:none;
	color:#FFF;
	border-bottom:none;
}

nav a:hover,
nav a:focus {
	text-decoration:underline;
}
/*** END MOBILE MAIN NAV ***/

/*** COLLAPSE NAVS ***/
.nav-sub-mixin {
	display:none;
	background:#A9A9A9;	
	
	& li {
		list-style-type:none;
		display:block;
		padding:1%;	
		
		& a {
			text-decoration:none;
			color:#FFF;	
			border-bottom: none;	
		}
		
		& a:hover {
			text-decoration:underline;	
		} 
	}
	
	 /*** jQuery ACTIVE STATE ***/
	/* & li .selected-item { */
	& .selected-item {
	  display: block;
	  color: #FFF;
	  text-decoration:underline;
	}
}

.nav-collapse-mixin {
	display:block;	
	text-align:right;
	width:100%;
	padding:0.325em;
	color:#FFF;
	background:#000;
	text-decoration:none;
	border-bottom:none;		
}

#nav-sub-nan,
#nav-sub-recreate,
#nav-sub-mark,
#nav-sub-trombone,
#nav-sub-major-exploration,
#nav-sub-homeconnect,
#nav-sub-giddy-throng,
#nav-sub-earthship-seattle,
#nav-sub-joemicheals {
	.nav-sub-mixin;		
}

#nav-collapse-nan,
#nav-collapse-recreate,
#nav-collapse-mark,
#nav-collapse-trombone,
#nav-collapse-major-exploration,
#nav-collapse-homeconnect,
#nav-collapse-giddy-throng,
#nav-collapse-earthship-seattle,
#nav-collapse-joemicheals  {	
	.nav-collapse-mixin;
}
/*** END COLLAPSE NAVS ***/

/*** CONTACT FORM ***/
form {
	font-size:125%;	
}

label {
	margin-bottom:.75%;	
}

input,
textarea {
	border: 1px solid grey;
	border-radius: 2px;
	width:100%;	
	margin-bottom:2%;
}

/*input[type="email"] {
	width:20%;	
}*/

#contact-form label {
	width:67%;
	display:block;
}

#contact-form input.error { /* input boxes */
	border: 1px solid magenta;
}

#contact-form label.error { /* text */
	color:magenta;
	margin-bottom:1%;
}

#contact-form textarea.error {
	color:magenta;
	border: 1px solid magenta;
}

#contact-form button {
	float:right;
	margin:1%;	
	padding:1%;
}

#contact-form p#buttons {
}

fieldset {
	width:96%;
	margin:auto;
	/*border:1px solid black;	*/
}

#first-name,
#last-name,
#email,
#subject {
	height:36px;
	margin-bottom:1.5%;	
	
}
/*** END CONTACT FORM ***/

/*** MOBILE FONTS ***/
/*** END MOBILE FONTS ***/

/*** PROJECT_DETAILS ***/
.project_details_img_large {
	display:block;	
}

.project_details_img_small {
	display:none;	
}

.no-border {
	border: none;
}

.project_details_img.no-border {
	border:none;
}
/*** END PROJECT_DETAILS ***/

/*** IFRAME ***/
.iframe-wrapper {
	height: 0;
	position: relative;	
	
	/* padding is relative to the width of the element */
	/* The aspect ratio of 16:10, is expressed by 10/16 = 62.5% */
	padding-bottom:62.5%;
	z-index:1;
	clear:both;
}

iframe {
	width:100%;	
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

/* to change iframe cover image */
/*#play {
	position:absolute;
	z-index:100;	
}*/
/*** END IFRAME ***/
